<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pierwsza strona</title>


    <!--
    add bootstrap
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    https://getbootstrap.com/docs/4.0/components/alerts/
    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- dodanie stylu  css do pliku hrml-owego
    wyrażenie @{} jest to ścieżka dostępu do folderu “static”.-->
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <!-- -->
    <link th:href="@{css/style.css}" rel="stylesheet">

</head>
<body>


<div class="container-fluid">



    <!-- TITLE -->
    <span th:text="${someText}" class="badge badge-info">Label</span>
    <div th:unless="${#strings.isEmpty(someText)}">
         <div th:text=" 'TEXT: ' + ${someText}"> </div>
    </div>



    <!-- IF -->
    <div th:if="${#strings.isEmpty(pustyString)}">
        <div> pustyString - jest pusty</div>
    </div>
    <!-- ELSE -->
    <div th:unless="${#strings.isEmpty(testString)}">
        <!--<div th:text="HI">Hi, user</div> -->
        <div>testString nie jest pusty</div>
    </div>

<!--
    <p th:if="${testString != null}" th:text=" 'testString nie jest pusty ponieważ zawiera: ' + ${testString} " />
    <p th:if="${testString == null}" th:text=" 'testString jest pusty ponieważ zawiera: ' + ${testString} " />
-->

    <span class="badge badge-info">Wypisanie długości textu  someText</span>
    <div th:text=" ${#strings.length(someText)} ">someText Text jest pusty</div>


    <span class="badge badge-info">eqals na someText</span>
    <div th:text="${#strings.equals(someText,'tekst')} ">
        <div> -"${#strings.equals(someText,'tekst')} "</div>
    </div>
    <div th:text="${#strings.equals(someText,'Witaj świecie w Spring Boot i Thymeleaf')} ">
        <div> -"${#strings.equals(someText,'Witaj świecie w Spring Boot i Thymeleaf')} "</div>
    </div>


    <br>
    <div>test</div>
    <br>
    <br>
    <br>
    <br>


    <div class="row">
        <div class="col-md-8">
            <span th:text="${someText}" class="badge badge-info">Label</span>
            <br>
            <span class="badge badge-info">Sprawdzenie, czy podany text jest pusty</span>
            <div th:if="${#strings.isEmpty(someText)}">
                <div>Text jest pusty</div>
            </div>
            <div th:unless="${#strings.isEmpty(someText)}">
                <div th:text=" 'Wprowadzony test,' + ${someText}"></div>
            </div>
            <span class="badge badge-info">Wypisanie długości textu</span>
            <br>
            <div th:text=" ${#strings.length(someText)} ">Text jest pusty</div>
            <span class="badge badge-info">Sprawdzenie, czy tekst jest taki sam dwie takie same zmienne</span>
            <br>
            <div th:text="${#strings.equals(someText,someText)} ">Text jest pusty</div>
            <span class="badge badge-info">Sprawdzenie, czy tekst jest taki sam jedna zmienna to odpowiedź, druga statyczna</span>
            <br>
            <div th:text="${#strings.equals(someText,'tekst')} ">Text jest pusty</div>
            <h1>Pętla w thymeleaf</h1>
            <h1>Owoce</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>NAZWA</th>
                </tr>
                <tr th:each="fruit,iterationStatus  : ${fruits}">
                    <td th:text="${iterationStatus.count}">1</td>
                    <td th:text="${fruit}">Name</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
</body>
</html>