







<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page</title>



   <!-- <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    -->
    <!-- wczytuje style z pliku css/style.css -->
    <!--
    <link th:href="@{css/style.css}" rel="stylesheet">
    -->
</head>


<body>
<h1>Login page</h1>
<p th:if="${registerError}" class="error">Wrong user or password</p>



<form th:action="@{/register.html}" th:object="${user}" method="POST" enctype="UTF8">

    <div>
        <label for="login">Login : </label>
        <input th:field="*{login}" type="text" id="login" name="login" value="admin"/>
    </div>
    <div>
        <label for="name">First name : </label>
        <input th:field="*{firstName}" type="text" id="name" name="name" value="name" />
    </div>
    <div>
        <label for="email"> Email :</label>
        <input th:field="*{email}" type="email" id="email" name="email" value="wp.gmail.com"/>
    </div>
    <div>
        <label for="password">Password : </label>
        <input th:field="*{password}" type="password" id="password" name="password" value="password"/>
    </div>
    <br>

    <div>
        <input type="submit" value="Register" />
        <input type="reset" value="Reset" />
    </div>











</form>
</body>
</html>